<%- include('./partials/cabecero'); %>

<%- include('./partials/cabecero'); %>


<%- include('./partials/navegador'); %>
<br>
    <div class="container">
        Somos estudiantes de ingenieria Catastral y geodesia<br>
        estamos haciendo un proyecto final sobre interfases sig con openlayers

    
    </div>

<%- include('partials/pie'); %>